/* BUTTON BACK FOODS */
.btn-back-home {
  align-items: center;
  background-color: #e1e1e1;
  border: none;
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.btn-back-home:hover {
  transform: translateY(-3px);
  transition: 0.3s ease-in-out;
}

.btn-back-home:active {
  transform: translateY(0);
}

.btn-back-home img {
  margin-bottom: 1rem;
}

.btn-home-name {
  color: #1e1e1e;
  font-weight: 500;
  margin-left: 10px;
}

/* CONTAINER MAIN */
.container-details-main {
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.details-image-recipe {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

/* CONTAINER SHARE NAME FAVORITE */
.container-recipe-introduction {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn-share, .btn-favorite {
  background-color: white;
  border: none;
}

.btn-share:hover, .btn-favorite:hover, .btn-share-copied {
  transform: translateY(-3px);
  transition: 0.3s ease-in-out;

}

.btn-share:active, .btn-favorite:active {
  transform: translateY(0);
}

.btn-share-copied {
  font-weight: 500;
}

/* CONTAINER NAME CATEGORY */
.recipe-name-category {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.recipe-name {
  font-weight: 600;
}

.recipe-line {
  background-color: #00d76b;
}

/* INGREDIENTS */
.container-ingredient {
  display: flex;
  flex-direction: column;
}

.ingredient-checkbox {
  background: #00d76b;
  margin-right: 10px;
}

.ingredient-measure {
  text-align: center;
}

.ingredient-measure span {
  font-weight: 500;
}

/* INSTRUCTIONS */
.container-instructions {
  width: 60%;
}

.container-instructions p {
  letter-spacing: 1px;
  text-align: center;
}


/* RECOMMENDATIONS */
.container-carousel {
  margin-bottom: 80px;
  margin-top: 30px;
  width: 100%;
}

.carousel-title {
  font-weight: 500;
  text-align: center;
}

.carousel-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.carousel-card {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-image {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  cursor: pointer;
  flex: none;
  object-fit: cover;
}

.card-image:hover {
  transform: translateY(-3px);
  transition: 0.8s ease-in;
}

.card-image:active {
  transform: translateY(0);
}

.card-name {
  font-weight: 500;
  letter-spacing: 2px;
}

/* BUTTON START RECIPE */
.btn-details {
  background-color: #00d76b;
  border: none;
  bottom: 0;
  color: white;
  font-weight: 600;
  position: fixed;
}

.btn-details:hover, .btn-details:focus {
  border-color: rgba(0, 0, 0, 0.15);
}

.btn-details:hover {
  transform: translateY(-2px);
  transition: 0.5s ease-in;
}

.btn-details:active {
  transform: translateY(0);
}

@media screen and ( min-width : 771px ) {

  /* CONTAINER MAIN */
  .container-details-main {
    border-radius: 40px 40px 0 0;
    margin-top: 14%;
  }

  .details-image-recipe {
    margin: -12% auto 60px;
    width: 20%;
  }

  /* CONTAINER SHARE NAME FAVORITE */
  .container-recipe-introduction {
    margin: 20px auto;
  }

  .btn-share, .btn-favorite {
    width: 90px;
  }

  .share-icon, .favorite-icon {
    width: 40px;
  }

  .btn-share-copied {
    font-size: 12px;
    margin-top: 5px;
  }

  /* CONTAINER NAME CATEGORY */
  .recipe-name-category {
    margin: 0 80px;
  }

  .recipe-name {
    font-size: 32px;
  }

  .recipe-line {
    height: 8px;
    margin: 15px 0;
    width: 135px;
  }

  .recipe-category {
    font-size: 20px;
  }

  /* INGREDIENTS */
  .ingredient-measure {
    font-size: 18px;
    letter-spacing: 3px;
    margin: 5px auto;
    text-align: center;
  }

  /* INSTRUCTIONS */
  .container-instructions {
    margin: 40px auto;
    width: 70%;
  }

  .container-instructions p {
    font-size: 18px;
  }

  /* VIDEO */
  .video-youtube {
    margin: 20px auto 50px;
  }

  /* CONTAINER RECOMMENDATIONS */
  .carousel-title {
    font-size: 22px;
  }

  .carousel-scroll {
    margin: 60px 0;
    padding: 10px;
  }

  .card-image {
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px , rgba(0, 0, 0, 0.23) 0 6px 6px;
    margin: 30px 190px;
    width: 20vw;
  }

  .card-name {
    font-size: 22px;
  }

  /* BUTTON */
  .btn-details {
    border-radius: 18px;
    font-size: 24px;
    margin: 20px 0;
    padding: 10px 5px;
    width: 20%;
  }
}

@media screen and ( max-width : 770px ) {

  /* BUTTON BACK FOODS */
  .btn-back-home {
    margin: 20px;
  }

  .btn-home-name {
    font-size: 14px;
    margin-left: 10px;
  }

  /* CONTAINER MAIN */
  .container-details-main {
    border-radius: 32px 32px 0 0;
    margin-top: 35%;
  }

  .details-image-recipe {
    margin: -20% auto 60px;
    width: 35%;
  }

  /* CONTAINER SHARE NAME FAVORITE */
  .container-recipe-introduction {
    margin: 20px auto;
  }

  .share-icon, .favorite-icon {
    margin: 10px;
    width: 40px;
  }

  .btn-share-copied {
    font-size: 12px;
  }

  /* CONTAINER NAME CATEGORY */
  .recipe-name-category {
    margin: 0 40px;
  }

  .recipe-name {
    font-size: 26px;
  }

  .recipe-line {
    height: 6px;
    margin: 15px 0;
    width: 120px;
  }

  .recipe-category {
    font-size: 20px;
  }

  /* INGREDIENTS */
  .ingredient-measure {
    font-size: 20px;
    letter-spacing: 3px;
    margin: 5px auto;
    text-align: center;
  }

  /* INSTRUCTIONS */
  .container-instructions {
    margin: 50px auto;
    width: 70%;
  }

  .container-instructions p {
    font-size: 20px;
  }

  /* VIDEO */
  .video-youtube {
    margin: 20px auto;
  }

  /* CONTAINER RECOMMENDATIONS */
  .carousel-title {
    font-size: 26px;
  }

  .carousel-scroll {
    margin-bottom: 60px;
    padding: 10px;
  }

  .card-image {
    margin: 40px;
    width: 35vw;
  }

  .card-name {
    font-size: 24px;
  }

  /* BUTTON */
  .btn-details {
    border-radius: 14px;
    font-size: 24px;
    margin: 20px 0;
    padding: 10px 5px;
    width: 50%;
  }
}

@media screen and ( max-width : 360px ) {

  /* CONTAINER MAIN */
  .container-details-food {
    border-radius: 28px 28px 0 0;
    margin-top: 100px;
  }

  .details-image-recipe {
    margin: -20% auto 25px;
    width: 35%;
  }

  /* CONTAINER SHARE NAME FAVORITE */
  .container-recipe-introduction {
    margin: 0 auto;
  }

  .share-icon, .favorite-icon {
    width: 20px;
  }

  .btn-share, .btn-favorite {
    width: 60px;
  }

  .btn-share-copied {
    font-size: 10px;
  }

  /* CONTAINER NAME CATEGORY */
  .recipe-name-category {
    margin: 0 20px;
  }

  .recipe-name {
    font-size: 18px;
  }

  .recipe-line {
    height: 4px;
    margin: 5px 0;
    width: 65px;
  }

  .recipe-category {
    font-size: 14px;
  }

  /* INGREDIENTS */
  .ingredient-measure {
    font-size: 16px;
    letter-spacing: 2px;
    margin: 5px auto;
    text-align: center;
  }

  /* INSTRUCTIONS */
  .container-instructions {
    margin: 30px auto;
    width: 70%;
  }

  .container-instructions p {
    font-size: 16px;
  }

  /* VIDEO */
  .video-youtube {
    align-items: center;
    display: flex;
    margin: 20px 20%;
  }

  /* CONTAINER RECOMMENDATIONS */
  .carousel-title {
    font-size: 18px;
  }

  .carousel-scroll {
    padding: 10px;
  }

  .card-image {
    margin: 10px 18px;
    width: 35vw;
  }

  .card-name {
    font-size: 16px;
  }

  /* BUTTON */
  .btn-details {
    border-radius: 8px;
    font-size: 14px;
    margin: 20px 0;
    padding: 5px;
    width: 40%;
  }
}
