/* CONTAINER MAIN */
.container-details-food {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  padding: 15px;
}

.details-image-recipe {
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* CONTAINER SHARE NAME FAVORITE */
.container-recipe-introduction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.btn-share, .btn-favorite {
  background-color: #FFFFFF;
  border: none;
}

.btn-share:hover, .btn-favorite:hover, .btn-share-copied {
  transform: translateY(-3px); 
  transition: 0.3s ease-in-out;
}

.btn-share:active, .btn-favorite:active {  
  transform: translateY(0);
}

.btn-share-copied {
  font-weight: 500;
}

/* CONTAINER NAME CATEGORY */
.recipe-name-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-name {
  font-weight: bold;
}

.recipe-line {
  background-color: #00D76B;
}

/* INGREDIENTS */
.ingredient-measure {    
  text-align: center;
}

.ingredient-measure span {
  font-weight: 500;
}

/* INSTRUCTIONS */
.container-instructions p {
  text-align: justify;
  letter-spacing: 1px;
}

/* RECOMMENDATIONS */
.container-carousel {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 80px;
}

.carousel-title {
  font-weight: 500;
  text-align: center;
}

.carousel-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.carousel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  flex: none;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
  cursor: pointer;
}

.card-image:hover {
  transform: translateY(-3px); 
  transition: 0.8s ease-in;
}

.card-image:active {  
  transform: translateY(0);
}

.card-name {
  font-weight: 500;
  letter-spacing: 2px;
}

/* BUTTON START RECIPE */
.btn-details {
  bottom: 0;
  position: fixed;
  border: none;
  background-color: #00D76B;
  color: #FFFFFF;
  font-weight: bold;
}

.btn-details:hover, .btn-details:focus {
  border-color: rgba(0, 0, 0, 0.15);
}

.btn-details:hover {
  transform: translateY(-2px); 
  transition: 0.5s ease-in;
}

.btn-details:active {  
  transform: translateY(0);
}

@media screen and (min-width: 771px) {
  /* CONTAINER MAIN */
  .container-details-food {
    margin-top: 25%;
    border-radius: 40px 40px 0 0;    
  }

  .details-image-recipe {
    margin: -12% auto 60px;
    width: 20%;
  }

  /* CONTAINER SHARE NAME FAVORITE */
  .container-recipe-introduction {
    margin: 20px auto;
  }

  .btn-share, .btn-favorite {
    width: 90px;
  }

  .share-icon, .favorite-icon {
    width: 40px;
  }

  .btn-share-copied {
    font-size: 12px;
    margin-top: 5px;
  }

  /* CONTAINER NAME CATEGORY */
  .recipe-name-category {
    margin: 0 80px;
  }

  .recipe-name {
    font-size: 32px;
    margin-bottom: 15px !important;
  }

  .recipe-line {
    width: 135px;
    height: 8px;
    margin-bottom: 15px !important;
  }

  .recipe-category {
    font-size: 20px;
  }

  /* INGREDIENTS */
  .ingredient-measure {
    margin: 5px auto;
    text-align: center;
    letter-spacing: 3px;
    font-size: 18px;
  }

  /* INSTRUCTIONS */
  .container-instructions {
    width: 70%;
    margin: 40px auto;
  }

  .container-instructions p {
    font-size: 18px;
  }

  /* VIDEO */
  .video-youtube {
    margin: 20px auto 50px;
  }

  /* CONTAINER RECOMMENDATIONS */
  .carousel-title {
    font-size: 22px;
  }

  .carousel-scroll {
    padding: 10px;
    margin: 60px 0;
  }

  .card-image {
    width: 20vw;
    margin: 30px 190px;  
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
  }

  .card-name {
    font-size: 22px;
  }

  /* BUTTON */
  .btn-details {
    margin: 20px 0;
    padding: 10px 5px;
    width: 20%;
    border-radius: 18px;
    font-size: 24px;
  }
}

@media screen and (max-width: 770px) {
  /* CONTAINER MAIN */
  .container-details-food {
    margin-top: 35%;
    border-radius: 32px 32px 0 0;
  }

  .details-image-recipe {
    margin: -20% auto 60px;
    width: 35%;
  }

  /* CONTAINER SHARE NAME FAVORITE */
  .container-recipe-introduction {
    margin: 20px auto;
  }
  
  .share-icon, .favorite-icon {
    width: 40px;
    margin: 10px;
  }

  .btn-share-copied {
    font-size: 12px;
  }

  /* CONTAINER NAME CATEGORY */
  .recipe-name-category {
    margin: 0 40px;
  }

  .recipe-name {
    font-size: 26px;
    margin-bottom: 15px !important;
  }

  .recipe-line {
    width: 120px;
    height: 6px;
    margin-bottom: 15px !important;
  }

  .recipe-category {
    font-size: 20px;
  }

  /* INGREDIENTS */
  .ingredient-measure {    
    margin: 5px auto;
    text-align: center;
    letter-spacing: 3px;
    font-size: 20px;
  }

  /* INSTRUCTIONS */
  .container-instructions {
    width: 70%;
    margin: 50px auto;
  }

  .container-instructions p {
    font-size: 20px;
  }

  /* VIDEO */
  .video-youtube {
    margin: 20px auto;
  }

  /* CONTAINER RECOMMENDATIONS */
  .carousel-title {
    font-size: 26px;
  }

  .carousel-scroll {
    padding: 10px;
    margin-bottom: 60px;
  }

  .card-image {
    width: 35vw;
    margin: 40px;  
  }

  .card-name {
    font-size: 24px;
  }

  /* BUTTON */
  .btn-details {
    margin: 20px 0;
    padding: 10px 5px;
    width: 50%;
    border-radius: 14px;
    font-size: 24px;
  }
}

@media screen and (max-width: 360px) {
  /* CONTAINER MAIN */
  .container-details-food {
    margin-top: 100px;
    border-radius: 28px 28px 0px 0px;    
  }

  .details-image-recipe {
    margin: -20% auto 25px;
    width: 35%;
  }

  /* CONTAINER SHARE NAME FAVORITE */
  .container-recipe-introduction {
    margin: 0 auto;
  }

  .share-icon, .favorite-icon {
    width: 20px;
  }

  .btn-share, .btn-favorite {
    width: 60px;
  }

  .btn-share-copied {
    font-size: 10px;
  }
  
  /* CONTAINER NAME CATEGORY */
  .recipe-name-category {
    margin: 0 20px;
  }

  .recipe-name {
    font-size: 18px;
    margin-bottom: 5px !important;
  }

  .recipe-line {
    width: 65px;
    height: 4px;
    margin-bottom: 5px !important;
  }

  .recipe-category {
    font-size: 14px;
  }

  /* INGREDIENTS */
  .ingredient-measure {    
    margin: 5px auto;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
  }

  /* INSTRUCTIONS */
  .container-instructions {
    width: 70%;
    margin: 30px auto;
  }

  .container-instructions p {
    font-size: 16px;
  }

  /* VIDEO */
  .video-youtube {
    margin: 20px 20%;
    display: flex;
    align-items: center;
  }

  /* CONTAINER RECOMMENDATIONS */
  .carousel-title {
    font-size: 18px;
  }

  .carousel-scroll {
    padding: 10px;
  }

  .card-image {
    width: 35vw;
    margin: 10px 25px;  
  }

  /* BUTTON */
  .btn-details {
    margin: 20px 0;
    padding: 5px;
    width: 40%;
    border-radius: 8px;
    font-size: 14px;
  }
}


