/* stylelint-disable selector-list-comma-space-after */

/* stylelint-disable declaration-no-important */

/* stylelint-disable value-list-comma-space-before */
.btn-back-explore {
  align-items: center;
  background-color: #e1e1e1;
  border: none;
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.btn-explore-name {
  color: #1e1e1e;
  font-weight: 500;
  margin-bottom: 0 ! important;
  margin-left: 10px;
}

.container-types {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-evenly;
  margin: auto;
}

.types-ingredient, .types-nationality, .types-surprise {
  background-color: #00d76b;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 15px;
  text-transform: capitalize;
}

.types-ingredient:hover,
.types-nationality:hover,
.types-surprise:hover,
.btn-back-explore:hover {
  transform: translateY(-3px);
  transition: 0.3s ease-in-out;
}

.types-ingredient:active,
.types-nationality:active,
.types-surprise:active,
.btn-back-explore:active {
  transform: translateY(0);
}
