/* BODY LOGIN */
.container-login {
  background-color: #FFFFFF;
  width: 80%;
  margin: 25% auto;
  border-radius: 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

/* CONTAINER NAME APP */
.container-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-name p {
  text-transform: uppercase;
  font-weight: bold;
  color: #00D76B;
}

.name-line {
  background-color: #00D76B;
}

/* CONTAINER INPUTS */
.container-email input, .container-password input {
  border: 1px solid #5F5F5E;
}

/* CONTAINER BUTTON */
.container-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-btn button {
  background-color: #00D76B;
  color: #FFFFFF;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  cursor: pointer;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.container-btn button:hover, .container-btn button:focus {
  border-color: rgba(0, 0, 0, 0.15);
}

.container-btn button:hover {
  transform: translateY(-1px); 
}

.container-btn button:active {  
  transform: translateY(0);
}

@media screen and (min-width: 771px) {
  /* BODY LOGIN */
  .container-login {  
    width: 30%;
    margin: 3% auto;
  }

  /* CONTAINER NAME APP */
  .container-name {
    margin: 40px 0 !important;
  }

  .container-name p {
    font-size: 24px;
    margin-bottom: 0 !important;
  }

  .name-line {
    width: 68px;
    height: 4px;
  }

  /* CONTAINER INPUTS */
  .container-email p, .container-password p {
    margin-bottom: 2px !important;
    font-size: 14px;
  }

  .container-email input, .container-password input {
    border-radius: 8px;
    padding: 2px 15px;
    margin-bottom: 20px !important;
  }

  /* BUTTON */
  .btn-logo {
    width: 50%;
  }

  .container-btn {
    margin: 30px 0;
  }

  .container-btn button {
    border-radius: 8px;
    font-size: 14px;
    padding: 10px 32px;
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
  /* BODY LOGIN */
  .container-login {  
    width: 80%;
    margin: 25% auto;
  }

  /* CONTAINER NAME APP */
  .container-name {
    margin: 40px 0 !important;
  }

  .container-name p {
    font-size: 24px;
    margin-bottom: 0 !important;
  }

  .name-line {
    width: 68px;
    height: 4px;
  }

  /* CONTAINER INPUTS */
  .container-email p, .container-password p {
    margin-bottom: 2px !important;
    font-size: 14px;
  }

  .container-email input, .container-password input {
    border-radius: 8px;
    padding: 2px 15px;
    margin-bottom: 20px !important;
  }

  /* BUTTON */
  .btn-logo {
    width: 60%;
  }

  .container-btn {
    margin: 30px 0;
  }

  .container-btn button {
    border-radius: 8px;
    font-size: 14px;
    padding: 10px 32px;
    width: 100%;
  }
};

@media screen and (max-width: 360px) {
  /* BODY LOGIN */
  .container-login {  
    width: 80%;
    margin: 25% auto;
  }

  /* CONTAINER NAME APP */
  .container-name {
    margin: 40px 0 !important;
  }

  .container-name p {
    font-size: 16px;
    margin-bottom: 0 !important;
  }

  .name-line {
    width: 62px;
    height: 3px;
  }

  /* CONTAINER INPUTS */
  .container-email p, .container-password p {
    margin-bottom: 2px !important;
    font-size: 14px;
  }

  .container-email input, .container-password input {
    border-radius: 8px;
    padding: 2px 5px;
    margin-bottom: 20px !important;
  }

  /* CONTAINER BUTTON */
  .container-btn {
    margin: 30px 0;
  }

  .container-btn button {
    border-radius: 8px;
    font-size: 10px;
    padding: 8px 30px;
    width: 100%;
  }
}
