* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #e1e1e1;
  color: #1e1e1e;
}

.container-carousel {
  /* overflow: hidden; */
  width: 100%;
}

.carousel-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.card-image {
  flex: none;
}

.card-image {
  object-fit: cover;
  height: 250px;
  width: 50vw;
}

.btn-details {
  position: fixed;
  bottom: 0;
}